.card {
    width: 72px;
    height: 98px;
}

.board {
    width:50%;
    display: block;
    margin: auto;
}

.allPlayers {
    
}

.player {
   height: 100px;
   width: 850px;
   display: inline-block;
}

/*get the image with that class as an ancestor*/
.playerImage img{
     width: 70px;
    height: 70px;
    border: 2px solid black;
    float: left;
}
.hand img{
    width: 72px;
    height: 96px;
    padding-left: 2px;
}
.title {
    display: block;
    margin: auto;
    font-family: arial;
    color: gray;
    text-align: center;
}

.hand {
    width: 466px;/*this number may need to be changed*/
    height: 98px;
    margin-left:40px;
    float: left;
}

.points {
    float: left;
    width: 90px;
    margin-left:10px;
    text-align:center;
    height:98px;
    font-family: arial;
    font-size: 20px;
    font-weight:bold;
}

.result {
    float: left;
    margin-left:20px;
    text-align:center;
    height:98px;
    font-family: arial;
    font-size: 20px;
    font-weight:bold;
}

#playAgain {
    display: block;
    margin: auto;
    width: 120px;
    padding: 4px;
    font-size: 25px;
    font-family:arial;
    text-align: center;
    background-color: green;
}
#playAgain a{
    text-decoration: none;
}
a:visited{
    color:black;
}
a:hover{
    color:white;
}